/* General Reset */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cantarell;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top Navigation Bar */
.top-nav {
    background-color: #3C6EB4;
    color: #fff;
    padding: 17px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav .logo {
    font-size: 2rem;
    font-weight: 590;
    font-family: Cantarell, sans-serif;
}

.top-nav .logo a {
    text-decoration: none;
    color: #fff;
}

.top-nav .profile {
    font-size: 1.3rem;
    font-weight: 500;
}

.top-nav .profile a {
    color: #fff;
    text-decoration: none;
}

/* Main Layout */
.main-layout {
    display: flex;
    flex: 1;
}

/* Side Navigation */
.side-nav {
    width: 200px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul li {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #ddd;
}

.side-nav ul a {
    text-decoration: none;
}

.side-nav ul a li {
    color: #333;
    font-size: 1rem;
    font-weight: 444;
    display: block;
    transition: background-color 0.3s;
}

/* Side Navigation with Icons */
.side-nav ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.side-nav ul li i {
    font-size: 1rem;
    padding-right:10px;
}

.side-nav ul li:hover i {
    color: #3C6EB4;
}
/* End side-nav with icons */

.side-nav ul li:hover {
    background-color: #ddd;
}

/* Main Content */
.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.content h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1rem;
    color: #555;
}
